<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<title></title>
</head>
<body>
	<div class="nav-top">
		<h1 class"titleLogo">LEFT&larr;OVERS</h1>
			<div class="nav">
      	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/restaurants">Restaurants</a></li>
        	<li><a href="/signup">Sign Up</a></li>
          <li><a href="/getfoods">Available Foods</a></li>
      	</ul>
    	</div>
	</div>
  <div class="indexMessage">
  	<img src="/images/too-good-to-waste-logo.gif" alt="" id="food-logo">
		<div class="textMessage">
			<h3 class="welcomeMessage">OWN A RESTAURANT IN THE AUSTIN AREA?</h3>
			<h3 class="welcomeMessage">GIVE BACK TO YOUR COMMUNITY!</h3>
			<p class="welcomeP">Every day hundreds of restaurants serve delicious food to their </br> customers
			but at the same time they create tons of organic waste, </br> so why not make something useful out of it? </p>
			<a href="/restaurants"><button class="signBtn" type="button" name="button">SIGN UP</button></a>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</body>
</html>
