<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title></title>
</head>
<body>
  <div class="nav-top">
		<h1>LEFT&larr;OVERS</h1>
			<div class="nav">
      	<ul>
        	<li><a href="http://localhost:3000/">Home</a></li>
        	<li><a href="http://localhost:3000/restaurants">Restaurants</a></li>
        	<li><a href="http://localhost:3000/signup">Sign Up</a></li>
        	<li><a href="http://localhost:3000/contact">Contact</a></li>
      	</ul>
    	</div>
	</div>

  <div id="main">
    <div id="foods"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src = "/scripts/restaurants.js" charset="utf-8"></script>
</body>
</html>
