h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 69px;
  line-height: 30px;
  font-weight: bold;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  margin: 0;
  padding: 0;
}

.nav {
  padding-bottom: 20px;
}
 
.nav ul {
  list-style: none;
  background-color: #262626;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.nav li {
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  line-height: 40px;
  height: 40px;

  display: inline-block;
  padding: 0px 20px 0px 20px;
}
 
.nav a {
  text-decoration: none;
  color: #ebeaed;
  display: inline-block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}

#main .name {
  font-family: 'Open Sans', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}

#main .address {
  font-family: 'Open Sans', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}

#main .foodLeft {
  font-family: 'Open Sans', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}

#main .phoneNum {
  font-family: 'Open Sans', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}

#main .email {
  font-family: 'Open Sans', sans-serif;
  color: #ebeaed;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}